<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление рассылками</title>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'newsletter_list' %}">Рассылки</a>
        <a href="{% url 'message_list' %}">Сообщения</a>
        <a href="{% url 'customer_list' %}">Клиенты</a>
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>
