{% extends 'base_templates/base.html' %}
{% load i18n %}
{% load custom_filters %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card p-4 shadow" style="max-width: 600px; width: 100%;">
        <h2 class="text-center mb-4">{% translate "Сброс пароля" %}</h2>
        <p>На указанный e-mail отправлена ссылка для восстановления пароля</p>

        <div class="text-center">
            <a href="{% url 'users:login' %}" class="btn btn-primary mt-4">На страницу входа</a>
        </div>
    </div>
</div>
{% endblock %}
