{% extends 'base_templates/base.html' %}
{% load i18n %}
{% load custom_filters %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card p-4 shadow" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4">{% translate "Пароль успешно установлен" %}</h2>
        <div class="text-center">
            <a href="{% url 'users:login' %}" class="btn btn-primary">Войти</a>
        </div>
    </div>
</div>
{% endblock %}
