{% extends 'base_templates/base.html' %}
{% load custom_filters %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card p-4 shadow" style="max-width: 400px; width: 100%;">
        <h4 class="text-center mb-4">Сброс пароля</h4>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label class="form-label fw-bold" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:"form-control" }}
                    {% for error in field.errors %}
                        <div class="text-danger mt-1">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100">Отправить</button>
        </form>
    </div>
</div>
{% endblock %}
