{% extends 'base_templates/base.html' %}
<title>{% block title %}Perfect Mailings - Сервис по управлению рассылками - Контакты{% endblock %}</title>
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">  <!-- Центрирование строки -->
        <div class="col-lg-4 col-md-6 col-sm-12">  <!-- Увеличил ширину колонки -->
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Напишите нам:</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name">Имя</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Телефон</label>
                            <input type="text" name="phone" class="form-control" id="phone" placeholder="Контактный телефон" required>
                        </div>
                        <div class="mb-3">
                            <label for="message">Сообщение</label>
                            <textarea name="message" class="form-control" id="message" placeholder="Ваше сообщение" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <script>
        // Перенаправление через 10 секунд
        setTimeout(function() {
            window.location.href = "{% url 'contacts' %}";
        }, 3000);  // 10000 миллисекунд = 3 секунды
    </script>
{% endif %}
{% endblock %}
